.button-white-border {
  background-color: var(--white-color);
  color: var(--blue-color);
}

.button-blue-border {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.button-blue-border:hover,
.button-white-border:hover {
  background-color: var(--powder-blue);
  color: var(--blue-color);
}
